.profile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
}
.profile-menu__body {
  width: 100%;
  max-width: 400px;
  background-color: var(--deep-blue);
  border-radius: 5px;
}
.profile-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: white solid 1px;
}

.profile-menu__title {
  font-size: 20px;
  font-weight: 600;
}

.profile-menu__user-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
}
.profile-menu__block-img {
  position: relative;
  margin: 0 auto;
}
.profile-menu__profile-img {
  width: 120px;
  height: 120px;
}

.profile-menu__change-photo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35px;
  height: 35px;
  background-color: var(--purple);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 20px;
    height: 20px;
  }
}

.profile-change-dialog {
}

.profile-change-dialog__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-change-dialog__paper {
  width: 100%;
  background-color: var(--deep-blue);
  background-image: none;
  margin: 0px 15px;
}

.profile-change-dialog__input {
  width: 100%;
  label {
    font-size: 18px;
  }
  input {
    font-size: 18px;
  }
}

.url-dialog {
}

.url-dialog__paper {
}

.url-dialog__title {
}

.url-dialog__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
}

.url-dialog__input {
}

.url-dialog__button {
}

.profile-menu__nickname {
  font-size: 20px;
  font-weight: 500;
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 99%;
  padding: 1px 0px;
}

.profile-menu__id {
  cursor: pointer;
  color: var(--purple);
  margin: 0 auto;
  margin-top: -10px;
  max-width: 99%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 1px 0px;
}

.profile-menu__bio-wrapper {
  position: relative;
  line-height: 0;
}

.profile-menu__bio {
  resize: none;
  width: 100%;
  padding: 10px 45px 10px 15px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border-bottom: white solid 1px;
}

.profile-menu__bio-length {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  font-size: 16px;
}

.profile-menu-list {
}
.profile-menu-list__item {
}
.profile-menu-list__button {
}

.id-dialog__hint {
  padding: 16px 24px;
}

.id-dialog__hint-item {
}
.id-dialog__error-message {
}
