.profile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
}
.profile-menu__body {
  width: 100%;
  max-width: 400px;
  background-color: var(--deep-blue);
  border-radius: 5px;
}
.profile-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: var(--deep-dark) solid 6px;
}

.profile-menu__title {
  font-size: 20px;
  font-weight: 600;
}

.profile-menu__user-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
.profile-menu__block-img {
  position: relative;
  margin: 0 auto;
}
.profile-menu__profile-img {
  width: 120px;
  height: 120px;
}

.profile-menu__change-photo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35px;
  height: 35px;
  background-color: var(--purple);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 20px;
    height: 20px;
  }
}

.profile-menu__nickname {
  font-size: 20px;
  font-weight: 500;
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 99%;
}

.profile-menu__bio-wrapper {
  position: relative;
}

.profile-menu__bio {
  resize: none;
  width: 100%;
  padding: 10px 45px 10px 15px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border-bottom: gray solid 1px;
}

.profile-menu__bio-length {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  font-size: 16px;
}
