.list-item {
  padding: 0;
}

.list-item__button {
  padding: 15px;
  gap: 10px;
  align-items: center;
}

.list-item__icon {
  min-width: unset;
}

.list-item__text {
  margin: 0;
  & > span {
    font-size: inherit;
    line-height: inherit;
  }
}
